USE [master]
GO
/****** Object:  Database [NTier]    Script Date: 22.12.2017 19:16:36 ******/
CREATE DATABASE [NTier]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NTier', FILENAME = N'D:\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\NTier.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NTier_log', FILENAME = N'D:\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\NTier_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NTier].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NTier]
GO
USE [NTier]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 22.12.2017 19:16:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Categories]    Script Date: 22.12.2017 19:16:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[MasterId] [uniqueidentifier] NULL,
	[Status] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedComputerName] [nvarchar](max) NULL,
	[CreatedIp] [nvarchar](max) NULL,
	[CreatedADUsername] [nvarchar](max) NULL,
	[CreatedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedComputerName] [nvarchar](max) NULL,
	[ModifiedIp] [nvarchar](max) NULL,
	[ModifiedADUsername] [nvarchar](max) NULL,
	[ModifiedBy] [int] NULL,
 CONSTRAINT [PK_dbo.Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 22.12.2017 19:16:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[Id] [uniqueidentifier] NOT NULL,
	[UnitPrice] [decimal](18, 2) NULL,
	[Quantity] [smallint] NULL,
	[MasterId] [uniqueidentifier] NULL,
	[Status] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedComputerName] [nvarchar](max) NULL,
	[CreatedIp] [nvarchar](max) NULL,
	[CreatedADUsername] [nvarchar](max) NULL,
	[CreatedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedComputerName] [nvarchar](max) NULL,
	[ModifiedIp] [nvarchar](max) NULL,
	[ModifiedADUsername] [nvarchar](max) NULL,
	[ModifiedBy] [int] NULL,
	[Orders_Id] [uniqueidentifier] NULL,
	[Product_Id] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.OrderDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Orders]    Script Date: 22.12.2017 19:16:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [uniqueidentifier] NOT NULL,
	[AppUserID] [uniqueidentifier] NOT NULL,
	[MasterId] [uniqueidentifier] NULL,
	[Status] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedComputerName] [nvarchar](max) NULL,
	[CreatedIp] [nvarchar](max) NULL,
	[CreatedADUsername] [nvarchar](max) NULL,
	[CreatedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedComputerName] [nvarchar](max) NULL,
	[ModifiedIp] [nvarchar](max) NULL,
	[ModifiedADUsername] [nvarchar](max) NULL,
	[ModifiedBy] [int] NULL,
	[Confirmed] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Orders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Products]    Script Date: 22.12.2017 19:16:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [uniqueidentifier] NOT NULL,
	[Price] [decimal](18, 2) NULL,
	[UnitsInStock] [smallint] NULL,
	[Quantity] [nvarchar](max) NULL,
	[Name] [nvarchar](50) NULL,
	[SubCategoryID] [uniqueidentifier] NOT NULL,
	[MasterId] [uniqueidentifier] NULL,
	[Status] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedComputerName] [nvarchar](max) NULL,
	[CreatedIp] [nvarchar](max) NULL,
	[CreatedADUsername] [nvarchar](max) NULL,
	[CreatedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedComputerName] [nvarchar](max) NULL,
	[ModifiedIp] [nvarchar](max) NULL,
	[ModifiedADUsername] [nvarchar](max) NULL,
	[ModifiedBy] [int] NULL,
	[ImagePath] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SubCategories]    Script Date: 22.12.2017 19:16:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubCategories](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Tag] [int] NULL,
	[CategoryID] [uniqueidentifier] NOT NULL,
	[MasterId] [uniqueidentifier] NULL,
	[Status] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedComputerName] [nvarchar](max) NULL,
	[CreatedIp] [nvarchar](max) NULL,
	[CreatedADUsername] [nvarchar](max) NULL,
	[CreatedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedComputerName] [nvarchar](max) NULL,
	[ModifiedIp] [nvarchar](max) NULL,
	[ModifiedADUsername] [nvarchar](max) NULL,
	[ModifiedBy] [int] NULL,
 CONSTRAINT [PK_dbo.SubCategories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 22.12.2017 19:16:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Surname] [nvarchar](50) NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NULL,
	[Address] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[ImagePath] [nvarchar](max) NULL,
	[Role] [int] NULL,
	[Birthdate] [datetime2](7) NULL,
	[MasterId] [uniqueidentifier] NULL,
	[Status] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedComputerName] [nvarchar](max) NULL,
	[CreatedIp] [nvarchar](max) NULL,
	[CreatedADUsername] [nvarchar](max) NULL,
	[CreatedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedComputerName] [nvarchar](max) NULL,
	[ModifiedIp] [nvarchar](max) NULL,
	[ModifiedADUsername] [nvarchar](max) NULL,
	[ModifiedBy] [int] NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[Categories] ([Id], [Name], [Description], [MasterId], [Status], [CreatedDate], [CreatedComputerName], [CreatedIp], [CreatedADUsername], [CreatedBy], [ModifiedDate], [ModifiedComputerName], [ModifiedIp], [ModifiedADUsername], [ModifiedBy]) VALUES (N'dcb3dfb9-07d1-e711-b841-3cf862c31f76', N'Test Üst Kategori2', N'test üst Kategori', NULL, 3, CAST(N'2017-11-29T19:03:34.207' AS DateTime), N'DESKTOP-VLGHORM', N'123', N'DESKTOP-VLGHORM\cn_og', 1, CAST(N'2017-12-19T15:17:56.633' AS DateTime), N'DESKTOP-VLGHORM', N'1', N'DESKTOP-VLGHORM\cn_og', 1)
INSERT [dbo].[Categories] ([Id], [Name], [Description], [MasterId], [Status], [CreatedDate], [CreatedComputerName], [CreatedIp], [CreatedADUsername], [CreatedBy], [ModifiedDate], [ModifiedComputerName], [ModifiedIp], [ModifiedADUsername], [ModifiedBy]) VALUES (N'3989b92d-26d4-e711-b846-3cf862c31f76', N'sdsdvdsv', N'dfvdfvd', NULL, 3, CAST(N'2017-11-28T13:23:30.813' AS DateTime), N'DESKTOP-VLGHORM', N'1', N'DESKTOP-VLGHORM\cn_og', 1, CAST(N'2017-11-29T19:03:36.750' AS DateTime), N'DESKTOP-VLGHORM', N'1', N'DESKTOP-VLGHORM\cn_og', 1)
INSERT [dbo].[Categories] ([Id], [Name], [Description], [MasterId], [Status], [CreatedDate], [CreatedComputerName], [CreatedIp], [CreatedADUsername], [CreatedBy], [ModifiedDate], [ModifiedComputerName], [ModifiedIp], [ModifiedADUsername], [ModifiedBy]) VALUES (N'3fa471e3-1ed5-e711-b846-3cf862c31f76', N'Bilgisayarlar', N'MSI,Lenovo,Toshiba', NULL, 1, CAST(N'2017-12-20T16:20:55.920' AS DateTime), N'DESKTOP-VLGHORM', N'123', N'DESKTOP-VLGHORM\cn_og', 1, CAST(N'2017-12-20T16:20:55.923' AS DateTime), N'DESKTOP-VLGHORM', N'1', N'DESKTOP-VLGHORM\cn_og', 1)
INSERT [dbo].[OrderDetails] ([Id], [UnitPrice], [Quantity], [MasterId], [Status], [CreatedDate], [CreatedComputerName], [CreatedIp], [CreatedADUsername], [CreatedBy], [ModifiedDate], [ModifiedComputerName], [ModifiedIp], [ModifiedADUsername], [ModifiedBy], [Orders_Id], [Product_Id]) VALUES (N'7153a19f-34d4-e711-b846-3cf862c31f76', CAST(15.00 AS Decimal(18, 2)), 3, NULL, 1, CAST(N'2017-11-28T15:06:54.817' AS DateTime), N'DESKTOP-VLGHORM', N'1', N'DESKTOP-VLGHORM\cn_og', 1, NULL, NULL, NULL, NULL, NULL, N'6f53a19f-34d4-e711-b846-3cf862c31f76', N'7053a19f-34d4-e711-b846-3cf862c31f76')
INSERT [dbo].[OrderDetails] ([Id], [UnitPrice], [Quantity], [MasterId], [Status], [CreatedDate], [CreatedComputerName], [CreatedIp], [CreatedADUsername], [CreatedBy], [ModifiedDate], [ModifiedComputerName], [ModifiedIp], [ModifiedADUsername], [ModifiedBy], [Orders_Id], [Product_Id]) VALUES (N'faa47c39-35d4-e711-b846-3cf862c31f76', CAST(15.00 AS Decimal(18, 2)), 2, NULL, 1, CAST(N'2017-11-28T15:11:12.953' AS DateTime), N'DESKTOP-VLGHORM', N'1', N'DESKTOP-VLGHORM\cn_og', 1, NULL, NULL, NULL, NULL, NULL, N'f8a47c39-35d4-e711-b846-3cf862c31f76', N'f9a47c39-35d4-e711-b846-3cf862c31f76')
INSERT [dbo].[OrderDetails] ([Id], [UnitPrice], [Quantity], [MasterId], [Status], [CreatedDate], [CreatedComputerName], [CreatedIp], [CreatedADUsername], [CreatedBy], [ModifiedDate], [ModifiedComputerName], [ModifiedIp], [ModifiedADUsername], [ModifiedBy], [Orders_Id], [Product_Id]) VALUES (N'74c8c35f-35d4-e711-b846-3cf862c31f76', CAST(15.00 AS Decimal(18, 2)), 3, NULL, 1, CAST(N'2017-11-28T15:12:17.160' AS DateTime), N'DESKTOP-VLGHORM', N'1', N'DESKTOP-VLGHORM\cn_og', 1, NULL, NULL, NULL, NULL, NULL, N'72c8c35f-35d4-e711-b846-3cf862c31f76', N'73c8c35f-35d4-e711-b846-3cf862c31f76')
INSERT [dbo].[Orders] ([Id], [AppUserID], [MasterId], [Status], [CreatedDate], [CreatedComputerName], [CreatedIp], [CreatedADUsername], [CreatedBy], [ModifiedDate], [ModifiedComputerName], [ModifiedIp], [ModifiedADUsername], [ModifiedBy], [Confirmed]) VALUES (N'6f53a19f-34d4-e711-b846-3cf862c31f76', N'44fcbd8a-07d1-e711-b841-3cf862c31f76', NULL, 1, CAST(N'2017-11-28T15:06:54.817' AS DateTime), N'DESKTOP-VLGHORM', N'1', N'DESKTOP-VLGHORM\cn_og', 1, CAST(N'2017-11-28T15:30:39.217' AS DateTime), N'DESKTOP-VLGHORM', N'1', N'DESKTOP-VLGHORM\cn_og', 1, 1)
INSERT [dbo].[Orders] ([Id], [AppUserID], [MasterId], [Status], [CreatedDate], [CreatedComputerName], [CreatedIp], [CreatedADUsername], [CreatedBy], [ModifiedDate], [ModifiedComputerName], [ModifiedIp], [ModifiedADUsername], [ModifiedBy], [Confirmed]) VALUES (N'f8a47c39-35d4-e711-b846-3cf862c31f76', N'44fcbd8a-07d1-e711-b841-3cf862c31f76', NULL, 3, CAST(N'2017-11-28T15:11:12.953' AS DateTime), N'DESKTOP-VLGHORM', N'1', N'DESKTOP-VLGHORM\cn_og', 1, CAST(N'2017-11-30T10:41:55.987' AS DateTime), N'DESKTOP-VLGHORM', N'1', N'DESKTOP-VLGHORM\cn_og', 1, 1)
INSERT [dbo].[Orders] ([Id], [AppUserID], [MasterId], [Status], [CreatedDate], [CreatedComputerName], [CreatedIp], [CreatedADUsername], [CreatedBy], [ModifiedDate], [ModifiedComputerName], [ModifiedIp], [ModifiedADUsername], [ModifiedBy], [Confirmed]) VALUES (N'72c8c35f-35d4-e711-b846-3cf862c31f76', N'44fcbd8a-07d1-e711-b841-3cf862c31f76', NULL, 1, CAST(N'2017-11-28T15:12:17.160' AS DateTime), N'DESKTOP-VLGHORM', N'1', N'DESKTOP-VLGHORM\cn_og', 1, CAST(N'2017-12-18T14:35:43.813' AS DateTime), N'DESKTOP-VLGHORM', N'1', N'DESKTOP-VLGHORM\cn_og', 1, 1)
/****** Object:  Index [IX_Orders_Id]    Script Date: 22.12.2017 19:16:37 ******/
CREATE NONCLUSTERED INDEX [IX_Orders_Id] ON [dbo].[OrderDetails]
(
	[Orders_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Product_Id]    Script Date: 22.12.2017 19:16:37 ******/
CREATE NONCLUSTERED INDEX [IX_Product_Id] ON [dbo].[OrderDetails]
(
	[Product_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_AppUserID]    Script Date: 22.12.2017 19:16:37 ******/
CREATE NONCLUSTERED INDEX [IX_AppUserID] ON [dbo].[Orders]
(
	[AppUserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SubCategoryID]    Script Date: 22.12.2017 19:16:37 ******/
CREATE NONCLUSTERED INDEX [IX_SubCategoryID] ON [dbo].[Products]
(
	[SubCategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CategoryID]    Script Date: 22.12.2017 19:16:37 ******/
CREATE NONCLUSTERED INDEX [IX_CategoryID] ON [dbo].[SubCategories]
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT (newsequentialid()) FOR [Id]
GO
ALTER TABLE [dbo].[OrderDetails] ADD  DEFAULT (newsequentialid()) FOR [Id]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (newsequentialid()) FOR [Id]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((0)) FOR [Confirmed]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (newsequentialid()) FOR [Id]
GO
ALTER TABLE [dbo].[SubCategories] ADD  DEFAULT (newsequentialid()) FOR [Id]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (newsequentialid()) FOR [Id]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderDetails_dbo.Orders_Orders_Id] FOREIGN KEY([Orders_Id])
REFERENCES [dbo].[Orders] ([Id])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_dbo.OrderDetails_dbo.Orders_Orders_Id]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderDetails_dbo.Products_Product_Id] FOREIGN KEY([Product_Id])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_dbo.OrderDetails_dbo.Products_Product_Id]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Orders_dbo.Users_AppUserID] FOREIGN KEY([AppUserID])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_dbo.Orders_dbo.Users_AppUserID]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Products_dbo.SubCategories_SubCategoryID] FOREIGN KEY([SubCategoryID])
REFERENCES [dbo].[SubCategories] ([Id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_dbo.Products_dbo.SubCategories_SubCategoryID]
GO
ALTER TABLE [dbo].[SubCategories]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SubCategories_dbo.Categories_CategoryID] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SubCategories] CHECK CONSTRAINT [FK_dbo.SubCategories_dbo.Categories_CategoryID]
GO
USE [master]
GO
